@charset "UTF-8";

/* ---------- Light theme overrides ---------- */

* {
	color: #404040;
}

body {
	background-color: #d6dde8;
}

.container {
	width: calc(100% - 32px);
	max-width: 700px;
}

::selection {
    background: #00000030;
}

.banner-gradient {
	background: linear-gradient(to bottom, #d6dde850, #d6dde8ff) !important;
}

/* ------------------------------ */

.article-backButton {
	display: inline-flex;
	background-color: #ffffff40;
	padding: 7px 14px;
	border-radius: 6px;
	margin-bottom: 2.5rem;
	box-shadow: 0px 1px 1px #00000010;
	transition: background-color 0.08s ease-out;
}

.article-backButton > img {
	width: 18px;
}

.article-backButton > span {
	font-size: 15px;
	margin: auto;
	margin-left: 10px;
}

.article-backButton:hover {
	background-color: #ffffff70;
}

.article-download {
	display: inline-flex;
}

.article-download > img {
	height: 20px;
}

.article-download > span {
	margin: auto;
	margin-left: 6px;
	line-height: 20px;
	color: #3a79c2;
}

.article-download:hover > span {
	text-decoration: underline;
}

.article-title {
    font-family: "Canva", sans-serif;
	font-size: 28px;
	font-weight: 700;
}

.article-date {
    font-family: "Canva", sans-serif;
	font-size: 20px;
	opacity: 70%;
	margin-bottom: 1rem;
}

.article-divider {
	width: 100%;
	height: 1px;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	background-color: #a0a0a0;
}

.article-section {
	margin-bottom: 6rem;
}

.article-header {
    font-family: "Canva", sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.article-body {
    font-family: "Canva", sans-serif;
	font-size: 18px;
}

.article-image {
	width: 100%;
	margin-top: 1rem;
}

.article-caption {
	font-family: "Canva", sans-serif;
	font-size: 14px;
	margin-bottom: 8px;
	line-height: 1.5;
	opacity: 75%;
}

.article-end {
	width: 7px;
	height: 7px;
	margin: auto;
	background-color: #606060;
}
