@charset "UTF-8";

:root {
	--cardShadow1: 0px 1px 1px #000000b0;
	--cardShadow2: 0px 3px 12px #00000090;
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/opensans.eot');
	src: url('../fonts/opensans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans.woff2') format('woff2'),
		url('../fonts/opensans.woff') format('woff'),
		url('../fonts/opensans.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans SemiBold";
	src: url('../fonts/opensans-semibold.eot');
	src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-semibold.woff2') format('woff2'),
		url('../fonts/opensans-semibold.woff') format('woff'),
		url('../fonts/opensans-semibold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Bold";
	src: url('../fonts/opensans-bold.eot');
	src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/opensans-bold.woff2') format('woff2'),
		url('../fonts/opensans-bold.woff') format('woff'),
		url('../fonts/opensans-bold.ttf') format('truetype');
	font-display: swap;
}



html {
	/* height: 100%; */
}

* {
	font-family: "Open Sans";
	line-height: 1.6;
	box-sizing: border-box;
	text-decoration: none;
	border-style: none;
	outline-style: none;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/* -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	/* font: inherit;
	color: inherit; */
	margin: 0;
	font-weight: normal;
}

img {
	user-select: none;
	pointer-events: none;
}

section {
	padding-bottom: 4.5rem;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: 10px;
	row-gap: 10px;
}

.list {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 8px;
}

.listItem {
	background-color: #58606b80;
	box-shadow: 0px 1px 1px #00000050;
	border-radius: 0.4rem;
	padding: 0.4rem;
	display: flex;
	height: 4.5rem;
	transition: background-color 0.1s ease-out;
}

.listItem:hover {
	background-color: #58606be0;
}

.listItem > img {
	border-radius: 0.25rem;
}

.listItem-text {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItem-title {
    font-family: "Open Sans Semibold";
	line-height: 1.4;
	flex: 1;
	min-width: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.listItem-subtitle {
	opacity: 60%;
	line-height: 1.4;
}

#content {
	top: 80px;
	position: relative;
}







.banner {
	width: 100%;
    height: 20rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #69727b;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner-gradient {
	height: 100%;
	display: flex;
}

.banner-title {
	font-size: 42px;
    font-family: "Open Sans Bold";
	line-height: 1.45;
}

.banner-subtitle {
	font-size: 16px;
    font-family: "Open Sans Semibold";
	opacity: 65%;
}

.section-title {
	font-size: 30px;
	opacity: 65%;
}





.section-top {
	padding-top: 2rem;
}

.section-bottom {
	padding-bottom: 16rem;
}



.divider {
	width: 100%;
	height: 2px;
	margin-bottom: 1rem;
}



/*

.gridWorkbook {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 8px;
} */

.disabled {
	opacity: 40%;
	pointer-events: none;
	user-select: none;
}

.footer {
	display: flex;
}

.footer-text {
	margin: 0.5rem;
	margin-left: auto;
}

.card {
	width: 360px;
	height: 240px;
	border-radius: 9px;
    box-shadow: var(--cardShadow1);
    background-size: cover;
	user-select: none;
	cursor: pointer;
	transform: scale(1);
	transition: background-color 0.11s ease-out, transform 0.11s ease-out, box-shadow 0.11s ease-out;
	transition-timing-function: cubic-bezier(.17,.44,.4,1);
}

.card-glare {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	border-radius: 9px;
	background-size: cover;
	background-image: url('../assets/images/glare.webp');
	transition: all 0.11s ease-out;
	transition-timing-function: cubic-bezier(.17,.44,.4,1);
}

.card-gradient {
	display: flex;
	background-size: contain;
	height: 100%;
	border-radius: 7.5px;
	background-image: url('../assets/gradient.png');
}

.card-text {
	font-size: 15px;
    font-family: "Open Sans Semibold";
	line-height: 1.2;
	margin-top: auto;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	margin-bottom: 0.8rem;
	text-shadow: 0rem 0.5px 1.5px #000000ff;
}

.card:hover {
	z-index: 10;
	transform: scale(1.03);
    box-shadow: var(--cardShadow2);
	transition: transform 0.07s ease-out, box-shadow 0.07s ease-out;
}

.card:hover > .card-glare {
	opacity: 70%;
	transition: all 0.07s ease-out;
}

.footer {
	display: flex;
}

.footer p {
	color: #ffffff80;
	margin: 0.5rem;
	margin-left: auto;
}
