@charset "UTF-8";

:root {
	--modal-cubic: cubic-bezier(0,.35,.38,1);
}

.modal.show > .modal-dialog {
	opacity: 1;
	transform: scale(1);
	transition-timing-function: var(--modal-cubic);
}

.modal.show > #content {
	user-select: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100vw;
	height: 100vh;
}

.fade {

}

.fade:not(.show) {
	opacity: 0;
}

.modal {
	overflow-x: scroll;
	transition: opacity 0.2s var(--modal-cubic);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	transition-timing-function: var(--modal-cubic);
	width: 100%;
	height: 100%;
	outline-style: none;
	border-style: none;
	overflow-y: auto;
}

.modal-dialog {
	opacity: 0;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	transform: scale(1.08);
	transition: all 0.2s, margin 0s, width 0s, height 0s, padding 0s;
	transition-timing-function: var(--modal-cubic);
	width: 1300px;
	margin-top: calc(50vh - 360px);
	margin-left: calc(50vw - 650px);
}

.modal-dialog.cl {
	width: 700px;
	margin-top: calc(50vh - 370px);
	margin-left: calc(50vw - 350px);
}

.modal-content {
	display: flex;
	min-width: 400px;
	width: 100%;
	border-radius: 0.65rem;
	padding-top: 1px;
	box-shadow: 0rem 0.2rem 3.5rem #000000ff;
}

.modal-container {
	flex-direction: row;
	width: 100%;
	display: flex;
}

.modal-section1 {
	width: 900px;
	padding: 1rem;
	border-radius: 0.75rem 0 0 0.75rem;
	display: flex;
	flex-direction: column;
}

.modal-section2 {
	width: 400px;
	padding: 1rem;
	padding-right: 0.5rem;
	border-radius: 0 0.75rem 0.75rem 0;
	display: flex;
	flex-direction: column;
}

.modal-section3 {
	width: 100%;
	padding: 0rem;
	display: flex;
	flex-direction: column;
}

.modal h1 {
	font-family: "Open Sans Bold";
	font-size: 28px;
}

.modal h2 {
	font-size: 15px;
    font-family: "Open Sans Semibold";
	opacity: 65%;
}

.modal h3 {
	font-size: 16px;
	font-family: "Open Sans Semibold";
	opacity: 55%;
}

.modal-description {
	padding-right: 0.5rem;
	overflow-y: auto;
	margin-top: 0.25rem;
	height: 634px;
}

.modal-button {
	height: 54px;
	gap: 12px;
	font-size: 16px;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	padding: 13px 16px 13px 16px;
    display: flex;
	cursor: pointer;
    user-select: none;
	transition: all 0.05s ease-out;
}

.modal-button img {
	filter: invert();
}

.modal-button p {
	margin: auto;
	margin-left: 0;
    font-family: "Open Sans Semibold";
}

.slideshow {
	display: flex;
	position: relative;
	margin-top: 1.25rem;
	margin-bottom: 4px;
	min-height: 200px;
}

.slideshow-feature {
	user-select: none;
	width: 100%;
	height: auto;
	background-color: #000;
}

.slideshow-overlay {
	position: absolute;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 1fr 1fr;
	column-gap: 55%;
}

.slideshow-overlay > img {
	width: 2rem;
	margin: auto;
	filter: invert() drop-shadow(0rem 2px 1px #000000ff);
}

.slideshow-left {
	display: flex;
	cursor: pointer;
	visibility: hidden;
	height: 100%;
	background: linear-gradient(to right, #00000050, #00000000 70%);
}

.slideshow-left > img {
	width: 2rem;
	margin: auto;
	filter: invert() drop-shadow(0rem 2px 1px #000000ff);
	margin-left: 1rem;
}

.slideshow-right {
	display: flex;
	cursor: pointer;
	height: 100%;
	background: linear-gradient(to right, #00000000 30%, #00000050);
}

.slideshow-right > img {
	width: 2rem;
	margin: auto;
	filter: invert() drop-shadow(0rem 2px 1px #000000ff);
	margin-right: 1rem;
}

.slideshow-counter {
	display: flex;
	position: absolute;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: 4rem;
	height: 1.5rem;
}

.slideshow-ID {
	font-family: "Open Sans Semibold";
	margin: auto;
}
