@charset "UTF-8";

@font-face {
	font-family: "Canva";
	src: url('fonts/canva-regular.otf') format('opentype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Canva";
	src: url('fonts/canva-medium.otf') format('opentype');
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Canva";
	src: url('fonts/canva-bold.otf') format('opentype');
	font-weight: 700;
	font-display: swap;
}


.workbook {
	background-color: #58606b80;
	border-radius: 0.4rem;
	padding: 0.4rem;
	display: flex;
	height: 4.5rem;
}

.workbook:hover {
	background-color: #58606be0;
}

.workbook > img {
	border-radius: 0.2rem;
}

.workbook-text {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.workbook-title {
    font-family: var(--semibold);
	line-height: 1.4;
	flex: 1;
	min-width: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.workbook-subtitle {
	opacity: 60%;
	line-height: 1.4;
}

.article-backButton {
	background-color: #ffffff20;
	padding: 7px 12px;
	border-radius: 0.4rem;
	display: inline-flex;
	margin-right: auto;
	margin-bottom: 2.5rem;
	transition: all 0.05s ease-out;
}

.article-backButton:hover {
	background-color: #ffffff40;
}

.article-title {
    font-family: "Canva", sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
	line-height: 1.4;
}

.article-date {
    font-family: "Canva", sans-serif;
	font-weight: 400;
	font-size: 1.3rem;
	opacity: 70%;
	margin-bottom: 1rem;
}

.article-correction {
    font-family: "Canva", sans-serif;
	font-weight: 400;
	font-size: 0.95rem;
	font-style: italic;
	line-height: 1.4;
	color: #ffffffb3;
	margin-bottom: 2.5rem;
}

.article-link {
	color: #91d3f7;
	text-decoration: underline;
}

.workbook-divider {
	width: 80%;
	height: 1px;
	margin-left: 10%;
	margin-bottom: 2.5rem;
	background-color: #ffffff60;
}

.article-header {
    font-family: "Canva", sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
}

.article-body {
    font-family: "Canva", sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}
